.custom-btn {
  border-radius: 40px 5px;
  background: linear-gradient(to right, #9300e8 0%, #4a00ed 100%);
  color: $white;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  padding: 30px 120px;

  &:hover {
    background: linear-gradient(to right, #bb00ff 0%, #5900ff 100%);
  }
}