.hero{
	position: relative;
	height: 100vh;
	margin-bottom: 170px;

	&__content{
		/* position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%); */
	}
}

.container__hero{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@include desktop{
		
	}
}

.hero__btn{
	text-align: center;
	width: 100px;
	margin: 0 auto;
}
