.nav__list{
	display: flex;

	.nav__item{
		margin-right: 60px;

		@include desktop{
			margin-right: 55px;
		}

		&:last-child{
			margin-right: 0;
		}

		.nav__link{
			color: $text-color;
			font-weight: 400;

			&:hover{
				color: $main;
				border-bottom: 2px solid $main;
			}
		}
	}
}