.gam__menu-nav{
	flex-direction: column;
	display: flex;
	padding-left: 65px;
  background-color: #fff;
  height: 100vh;
  justify-content: center;

	.nav__list{
		flex-direction: column;
		margin-bottom: 55px;

		.nav__item{
			margin-right: 0;
	    margin-bottom: 25px;
	    font-size: 24px;
	    font-weight: 600;

	    &:last-child{
	    	margin-bottom: 0;
	    }
		}
	}

	.socials__list{
		display: flex;
	}
}