.review{
	margin-bottom: 120px;
	padding-top: 200px;
}

.review__row{
	display: flex;
	margin-bottom: 100px;
}

.review__title{
	margin-right: 70px;
}

.review__slider{
  width: 64%;

	&-list {
		width: 100%;
  	display: flex;
  	justify-content: space-between;

  	@include desktop{
  		width: 83%;
  	}
	}
}

.review__slider-item {
  width: 50%;
  margin-right: 85px;

  @include desktop{
  	margin-right: 35px;
  }

  &:last-child{
  	margin-right: 0;
  }
}