.review{
	margin-bottom: 120px;
}

.review__col{
	display: flex;
	margin-bottom: 100px;
}

.review__title{
	margin-right: 70px;
}

.review__slider{


	&-list {
		width: 64%;
  	display: flex;
  	justify-content: space-between;
	}
}

.review__slider-item {
  width: 50%;
  margin-right: 85px;

  &:last-child{
  	margin-right: 0;
  }
}