.scroll__btn{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
	

	&:hover{
		color: $main;
	}

	.scroll__btn-text{
		font-size: 18px;
		font-weight: 600;
	}

	.scroll__btn-icon{
		widht: 20px;
		height: 30px;
		fill: currentColor;
	}
}