.triangles {
   display: flex;
   color: #fff;
}
.triangles__item {
   width: 50%;
   height: 125px;
}

.arrow {
   fill: currentColor;
}

.triangles--section {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
}
