footer.footer
  .container.footer__container
    .footer__column
      .footer__copyright © 2020
      .footer__title
        h1.footer__title-by-line
          span Стерлин
                span Дмитрий
        a.footer__title-link(href='#')
          | Личный сайт
          br
          | веб-разработчика
    .footer__column.footer__column_flex-col
      .footer__nav
        nav.nav
          - var items = ["Главаная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"];
            ul.nav__list
              each item in items
                li.nav__item
                  a.nav__link(href='#') #{item}
      .footer__row
        .footer__column
          .footer__text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
            .footer__socials
              ul.socials__list
                each item in icons
                  li.socials__item
                    a.socials__link(href='#')
                      +icon(item, "socials__icon")
        .footer__column.footer__column--modify 
          .footer__text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
          .footer__text-sig Martin Galding