section.hero
  .container.container__hero
    include heder
    //- heder.heder 
    //-   .heder__logo
    //-     .logo СД
    //-   .heder__menu
    //-     nav.nav
    //-       ul.nav__list
    //-         each item in menu
    //-           li.nav__item
    //-             a(href='#').nav__link=item
    //-   .heder__socials
    //-     +socials
    //-     button(type="button").nav__btn
    //-       +icon('menu', 'nav__gam-icon')
    //-   .header__gam-menu
    //-     button(type="button").nav__close.gam-menu__close
    //-       +icon('remove', 'nav__close-icon')
    //-     .gam__menu-nav
    //-       nav.nav
    //-         ul.nav__list
    //-           each item in menu
    //-             li.nav__item
    //-               a(href='#').nav__link=item
    //-       +socials
    .hero__content
      .preview
        .preview__desc
          p.preview__desc-text Личный сайт 
          p.preview__desc-text веб-разработчика
        .preview__username
          h1.preview__username-title Стерлин 
          h1.preview__username-title Дмитрий
    .hero__scroll.scroll__btn
      a(href='#').scroll__btn-text Скролл
      +icon('scroll', 'scroll__btn-icon')