.parallax-mount
   .parallax-budda__layer.parallax-budda__layer--1
   .parallax-budda__layer.parallax-budda__layer--2
   .parallax-budda__layer.parallax-budda__layer--3
   .parallax-budda__layer.parallax-budda__layer--4
   .parallax-budda__layer.parallax-budda__layer--5
   