.parallax-buddha
  .parallax__image
    .parallax__layer(data-speed='0.1')
      +image('parallax/buddha/background.png', 'parallax__bg')
    .parallax__layer(data-speed='0.15')
      +image('parallax/buddha/mount_2.png', 'parallax__mount')
    .parallax__layer(data-speed='0.15')
      +image('parallax/buddha/buddha_3.png', 'parallax__buddha')
    .parallax__layer(data-speed='0.15')
      +image('parallax/buddha/cloud_4.png', 'parallax__cloud')
    .parallax__layer(data-speed='0.15')
      +image('parallax/buddha/cloud_5.png', 'parallax__cloudmid')
    .parallax__layer(data-speed='0.15')
      +image('parallax/buddha/cloud_6.png', 'parallax__cloudback')