.parallax-mount
   .parallax-mount__layer.parallax-mount__layer--1
   .parallax-mount__layer.parallax-mount__layer--2
   .parallax-mount__layer.parallax-mount__layer--3
   .parallax-mount__layer.parallax-mount__layer--4
   .parallax-mount__layer.parallax-mount__layer--5
   .parallax-mount__layer.parallax-mount__layer--6
   .parallax-mount__layer.parallax-mount__layer--7