section.work
  .container
    h2.title.work__title Мои работы
    .work__content
      #work__component

script(type="text/x-template")#slider-work
  .work__slider
    display(
      :currentWork="currentWork"
      :currentIndex="currentIndex"
      :works="works"
      @slide="changeSlide"
      @goToSlide="goToSlide"
    )
    card(
      :currentWork="currentWork"
    )

script(type="text/x-template")#slider-display
  .slider
    .slider__wrap.work__slider-wrap(:data-slide="currentIndex + 1")
      img(:src="currentWork.photo").works__slider-pich
      thumbs(
        :works="reverseWorks"
        :currentWork="currentWork"
        @slide="$emit('goToSlide', $event)"
      )
      btns(
        :current-index="currentIndex"
        :works-count="works.length"
        @slide="$emit('slide', $event)"
      )

script(type="text/x-template")#slider-thumbs
  ul(ref="previewsList").slider__list
    li.slider__item(
      v-for='work in works' 
      :key='work.id'
      :class="{active: currentWork.id===work.id}"
      @click.prevent="$emit('slide', work.id)"
    )
      button(type='button').slider__btn
        img(:src="work.photo").slider__btn-img

script(type="text/x-template")#slider-btns
  .work__slider-buttons.slider__arrow
    button(
      type="button" 
      @click.prevent="$emit('slide', 'next')"
      :disabled="nextBtnDisable"
    ).slider__arrow-btn.slider__arrow-btn--prev
      +icon('arrow-down', 'slider__arrow-icon')
    button(
      type="button" 
      @click.prevent="$emit('slide', 'prev')"
      :disabled="prevBtnDisable"
    ).slider__arrow-btn.slider__arrow-btn--next
      +icon('arrow-down', 'slider__arrow-icon')

script(type="text/x-template")#slider-card
  .slider__card
    .card
      tags(
        :tags = "tagsArr"
      )
      h3.card__title {{currentWork.title}}
      .card__description {{currentWork.desc}}
      .card__btn
        a.card__btn-link(href='currentWork.link') Посмотреть сайт

script(type="text/x-template")#slider-tags
  ul.card__list
    li.card__item(
      v-for="tag in tags"
      :key="tag"
    )
      .card__item-tag {{tag}}