include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    include template/vigets
    .wrapper
      .welcome
        include template/components/paralax-mount
        include template/components/hero
        include template/components/about
        .triangles.triangles--section
          svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item.arrow
            polygon(points="0,0 0,100 1000,100")
          svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item.arrow
            polygon(points="1000,0 1000,100 0,100")
      section.skills
        .container.skills-container
          .skills__decor
            +image('content/bag.jpg', 'skills__decor-pic')
          .skills__content
            .skills__desc
              h2.skills__desc-title Чем я могу быть полезен вам
              .skills__desc-text
                p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            #skills__component
      section.work
        .container
          h2.title.work__title Мои работы
          .work__content
            .work__slider
              .slider
                .slider__wrap.work__slider-wrap
                  ul.slider__list
                    - var previews = ['work1', 'work2', 'work3', 'work4']
                    each preview in previews
                      li.slider__item(class = preview == 'work1' ? 'active' : '')
                        button(type='button').slider__btn
                          +image(`content/work/${preview}.jpg`, "slider__btn-img")
                  .work__slider-buttons.slider__arrow
                    button(type="button").slider__arrow-btn.slider__arrow-btn--prev
                      +icon('arrow-down', 'slider__arrow-icon')
                    button(type="button").slider__arrow-btn.slider__arrow-btn--next
                      +icon('arrow-down', 'slider__arrow-icon')
              .slider__card
                .card
                  ul.card__list
                    -var techno = ['js', 'html', 'css']
                    each item in techno
                      li.card__item
                        .card__item-tag=item
                  h3.card__title Сайт школы образования
                  .card__description Этот парень проходил обучение веб-разработке не где-то, а в LoftShool! 2 месяца только самых тяжелых испытаний и бессоных ночей!
                  .card__btn
                    a.card__btn-link(href='#') Посмотреть сайт
      .main
        .triangles.triangles--rotate
          svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item.arrow
            polygon(points="1000,0 1000,100 0,100")
          svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item.arrow
            polygon(points="0,0 0,100 1000,100")
        include template/components/parallax-budda
        section.review
          .container
            .review__row
              h2.review__title.title Что обо мне говорят
              .review__btn
                button(type="button").slider__arrow-btn.slider__arrow-btn--prev
                  +icon('arrow-down', 'slider__arrow-icon')
                button(type="button").slider__arrow-btn.slider__arrow-btn--next
                  +icon('arrow-down', 'slider__arrow-icon')
            .review__slider
              ul.review__slider-list
                - for (var i = 0; i < 2; i++)
                  li.review__slider-item
                    .reviews
                      .reviews__content
                        .reviews__description
                          p Этот парень проходил обучение веб-разработке не где-то, а в LoftShool! 4,5 месяца только самых тяжелыхиспытаний и бессоных ночей!
                        .reviews__info
                          .reviews__ava
                            .avatar.reviews__avatar
                              +image('content/user.jpg', 'avatar__img')
                          .reviews__data
                            .reviews__data-name Ковальчук Дмитрий
                            .reviews__data-subtitle Основатель LoftShool                  
        section.contacts(id="contacts")
          .container
            h2.contacts__title.title Связаться со мной
            form.form
              .form__row
                label.form__block
                  .form__block-label Введите ваше имя
                  .form__block-wrap
                    +icon('user','form__block-icon')
                    .form__block-field
                      input(placeholder="Иванов Иван").form__block-input
                label.form__block
                  .form__block-label Введите ваше email
                  .form__block-wrap
                    +icon('envelope','form__block-icon')
                    .form__block-field
                      input(placeholder="example@mail.com").form__block-input
              .form__row.form__row--more-margin
                label.form__block
                  .form__block-label Сообщение к письму
                  .form__block-wrap.form__block-wrap--align-top
                    +icon('message','form__block-icon')
                    .form__block-field
                      textarea(placeholder="Требуется ваша помощь в создании сайта. \nИнтересуют сроки и цена вопроса" rows="3").form__block-input.form__block-textarea
              .form__row
                .form__buttons
                  button(type="submit").custom-btn Отправить
      include template/components/footer
      

  